* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html,
body,
.app {
	height: 100%;
}

.app {
	overflow: hidden;
}

.editor,
.preview {
	float: left;
	width: 50%;
	height: 100%;
}

.preview {
	margin: 0;
	padding: 2rem;
	padding-top: 4.2rem;
}

.editor .ql-toolbar {
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
}

.editor .ql-editor {
	padding: 1rem;
}

.editor .ql-tooltip.ql-image-tooltip {
	float: none;
}
